<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer</title>
    <div th:replace="fragments/header :: head-styles"></div>
</head>
<body>
    <div th:fragment="footer">
    <!-- Footer -->
<footer class="page-footer font-small  pt-4 footer">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Content -->
          <img src="/img/footerLogo.png" class="img-responsive footerLogo" alt="">
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="text-uppercase">Helpful Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Locate Us</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
            <li>
              <a href="#!">Weather</a>
            </li>
            <li>
              <a href="#!">Control Tower Guidlines</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="text-uppercase">Using This Site</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Home</a>
            </li>
            <li>
              <a href="#!">Site Map</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
            <li>
              <a href="#!">Accessibility</a>
            </li>
            <li>
              <a href="#!">Copyright Notices</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">Contact</h5>
        <p>
          <i class="fas fa-map-marker-alt"></i> Aurora Municipal Airport 
          <br> Veterans Memorial Parkway
          <br> 43W636 US 30
          <br> Sugar Grove, IL 60554</p>

        </div>

        <div class="col-md-2 mx-auto contact">
        <p>
          <i class="fas fa-envelope mr-3"></i> AMaveus@aurora-il.org<br>
    
          <i class="fas fa-phone mr-3"></i> (630)256-3120<br>
    
          <i class="fas fa-print mr-3"></i> (630)256-3129<br>

          <i class="far fa-clock mr-3"></i> 7:30a.m. - 4p.m.
        </p>

      </div>
      <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
    
  </footer>
  <!-- Footer -->

  </div>
    
</body>
</html>