<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Navbar</title>
    <div th:replace="fragments/header :: head-styles"></div>
</head>

    <div th:fragment="navbar">

        <nav class="navbar fixed-top navbar-expand-md navbar-light"> <!--Expands at medium sizing, also fixed to top-->

            <!-- Logo image at front of navbar -->
            <a class="navbar-brand" href="#">
                <img src="/img/Logo.png" class="img-responsive logo" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Airport Information
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Why Aurora Aurport</a>
                    <a class="dropdown-item" href="#">Partners</a>
                    <a class="dropdown-item" href="#">Tenants</a>
                    <a class="dropdown-item" href="#">Rules & Regulations</a>
                    <a class="dropdown-item" href="#">Hanger Rental / Tie Downs</a>
                    <a class="dropdown-item" href="#">Development</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Corprate Travel</a>
                    <a class="dropdown-item" href="#">FAA Control Tower</a>
                    <a class="dropdown-item" href="#">Recreational Aviation</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Inbound / Outbound</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact Us</a>
                </li>
              </ul>

              <!----- SearchBar ----->
              <div class="boxContainer">

                <form class="form-inline my-2 my-lg-0">

                  <table class="elementsContainer">

                    <tr>

                      <td>
                        <input class="search" type="text" placeholder="Search" >
                      </td>

                      <td>
                        <a href="#"><i class="fas fa-search"></i></a>
                      </td>

                    </tr>

                  </table>

                </form>

              </div>

              <!----- Login ----->

              <button class="btn btn-outline-success my-2 my-sm-0 Login" type="submit">Login</i></button>
            
            </div>
          
          </nav>

    </div>

<body>

</body>

</html>